laspy[lazrs,laszip]
nbformat>=4.2.0
pyproj
plotly
numpy>=1.21.0
matplotlib
folium
rasterio>=1.3.0
scipy
Pillow
cloth-simulation-filter
pystac-client>=0.7.0
odc-stac>=0.3.0
xarray>=2022.0.0
pandas>=1.5.0
